@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* For Firefox */
.scrollbar-hide {
  scrollbar-width: none;
}

/* For Chrome, Safari, and Edge */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}